<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            color: black;
            box-sizing: border-box;
            text-decoration: none;
        }

        nav{
            height: 5rem;
            width: 100%;
            padding-left: 2rem;
            padding-right: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .menu{
            width:auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            color: black;
        }

        .menu a{
            font-size: 1.25rem;
            font-family: sans-serif;
        }

        main{
            width: 100%;
            padding-left: 2rem;
            padding-right: 2rem;
            height: calc(100vh - 5rem);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <nav>
        <h1>logo</h1>

        <div class="menu">
            <a href="http://localhost:3000/login">Login</a>
            <a href="http://localhost:3000/signup">Signup</a>
        </div>
    </nav>
    <main>
        <h2>HELLO WORLD</h2>
    </main>
</body>
</html>