<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        *{
            margin: 0;
            padding: 0;
            color: black;
            box-sizing: border-box;
            text-decoration: none;
        }

        nav{
            height: 5rem;
            width: 100%;
            padding-left: 2rem;
            padding-right: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .menu{
            width:auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            color: black;
        }

        .menu a{
            font-size: 1.25rem;
            font-family: sans-serif;
        }

        main{
            width: 100%;
            padding-left: 2rem;
            padding-right: 2rem;
            height: calc(100vh - 5rem);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
        }

        .user{
            height: auto;
            width:30rem;
            padding: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap:2rem;
            border: 2px solid black;
            border-radius: 2rem;
        }

        .user-details{
            height: 3rem;
            width: 100%;
            padding: 1rem;
            font-size: 1.25rem;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid gainsboro;
        }

        main p{
            font-size: 1.25rem;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <nav>
        <h1>logo</h1>

        <div class="menu">
            <a href="http://localhost:3000/login">Login</a>
            <a href="http://localhost:3000/signup">Signup</a>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="user">
                <h1>Your Account <i class="fa-solid fa-circle-user"></i></h1>
                <div class="user-details">
                    <p><%= user.username %></p>
                    <a href="http://localhost:3000/dashboard/text/edit"><i class="fa-solid fa-pen-to-square"></i></a>
                </div>

                <div class="user-details">
                    <p><%= user.email %></p>
                    <a href="http://localhost:3000/dashboard/email/edit"><i class="fa-solid fa-pen-to-square"></i></a>
                </div>

                <div class="user-details">
                    <p>*****************</p>
                    <a href="http://localhost:3000/dashboard/password/edit"><i class="fa-solid fa-pen-to-square"></i></a>
                </div>
            </div>
        </div>
          <% if (error.length > 0) { %>
                <p id="error-msg" style="color: red;"><%= error %></p>
                <% } %>


          <% if (success.length > 0) { %>
                <p id="done-msg" style="color: rgb(68, 255, 143);"><%= success %></p>
                <% } %>
    </main>


    <script>
        
    </script>
</body>
</html>